workflows/chariow-leadmagnet-tally-brevo-old.json
{
  "name": "Lead Magnet — Tally → Brevo → Livraison PDF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet-brevo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Tally Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "lead-magnet-brevo",
      "notes": "URL du webhook à coller dans Tally : https://automation.sterveshop.cloud/webhook/lead-magnet-brevo\nDans Tally → ton formulaire → Integrations → Webhooks → colle cette URL."
    },
    {
      "parameters": {
        "jsCode": "// Tally envoie les champs dans data.fields[]\n// Ce noeud extrait proprement le prénom et l'email\n\nconst body = $input.first().json.body || $input.first().json;\nconst fields = body?.data?.fields || [];\n\nlet prenom = '';\nlet email = '';\n\nfor (const field of fields) {\n  const label = (field.label || '').toLowerCase().trim();\n  const value = field.value || '';\n\n  if (label.includes('prenom') || label.includes('prénom') || label.includes('nom') || label.includes('name')) {\n    prenom = value.trim();\n  }\n  if (label.includes('mail') || label.includes('email') || field.type === 'INPUT_EMAIL') {\n    email = value.trim().toLowerCase();\n  }\n}\n\n// Fallback si les labels ne correspondent pas\nif (!prenom && fields[0]) prenom = fields[0].value || 'Ami';\nif (!email && fields[1]) email = fields[1].value || '';\n\nif (!email) {\n  throw new Error('Email non trouvé dans la soumission Tally');\n}\n\nconst prenomFormate = prenom\n  ? prenom.charAt(0).toUpperCase() + prenom.slice(1).toLowerCase()\n  : 'Ami';\n\nreturn [{\n  json: {\n    prenom: prenomFormate,\n    email: email,\n    source: 'tally-lead-magnet',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Extraire Prénom + Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300],
      "notes": "Extrait proprement le prénom et l'email depuis la structure JSON de Tally. Compatible avec les noms de champs 'prenom', 'prénom', 'e-mail', 'email'."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🎁 Ton guide gratuit est là — {{ $json.prenom }} !",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#F3F4F6; font-family: Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F3F4F6; padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff; border-radius:12px; overflow:hidden; max-width:600px; width:100%;\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background:#2563EB; padding:28px 32px;\">\n              <p style=\"margin:0; font-size:13px; color:#93C5FD; font-weight:600; letter-spacing:1px;\">RESSOURCE GRATUITE</p>\n              <h1 style=\"margin:8px 0 0; font-size:24px; color:#ffffff; font-weight:700; line-height:1.3;\">\n                Ton guide arrive, {{ $json.prenom }} ! 🎉\n              </h1>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding:32px;\">\n\n              <p style=\"margin:0 0 16px; font-size:15px; color:#374151; line-height:1.7;\">\n                Merci d'avoir rejoint la communauté. Voici exactement ce que tu m'as demandé :\n              </p>\n\n              <!-- RESSOURCE BOX -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EFF6FF; border-left:4px solid #2563EB; border-radius:8px; margin:0 0 24px;\">\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <p style=\"margin:0 0 8px; font-size:13px; color:#6B7280;\">📦 Ce que tu reçois</p>\n                    <p style=\"margin:0 0 4px; font-size:15px; font-weight:700; color:#1E40AF;\">Guide PDF — Automatiser ses relances avec Brevo</p>\n                    <p style=\"margin:0; font-size:13px; color:#6B7280;\">+ Workflow n8n prêt à importer (JSON inclus)</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CTA BOUTON -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"REMPLACE_PAR_TON_LIEN_PDF\"\n                       style=\"display:inline-block; background:#2563EB; color:#ffffff; font-size:16px; font-weight:700; padding:16px 36px; border-radius:8px; text-decoration:none;\">\n                      📥 Télécharger le guide gratuitement\n                    </a>\n                    <p style=\"margin:8px 0 0; font-size:12px; color:#9CA3AF;\">\n                      Le lien est valide 7 jours — télécharge-le maintenant ✅\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT'S INSIDE -->\n              <p style=\"margin:0 0 12px; font-size:14px; font-weight:700; color:#111827;\">Dans ce guide tu trouveras :</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr><td style=\"padding:6px 0; font-size:14px; color:#374151;\">✅ &nbsp;Pourquoi Gmail va te bloquer (et comment l'éviter)</td></tr>\n                <tr><td style=\"padding:6px 0; font-size:14px; color:#374151;\">✅ &nbsp;Créer ton email pro en 10 minutes sur Hostinger</td></tr>\n                <tr><td style=\"padding:6px 0; font-size:14px; color:#374151;\">✅ &nbsp;Connecter Brevo à n8n étape par étape</td></tr>\n                <tr><td style=\"padding:6px 0; font-size:14px; color:#374151;\">✅ &nbsp;Workflow de relance J+7 et J+14 prêt à l'emploi</td></tr>\n                <tr><td style=\"padding:6px 0; font-size:14px; color:#374151;\">✅ &nbsp;Templates d'emails de relance inclus</td></tr>\n              </table>\n\n              <!-- SEPARATOR -->\n              <hr style=\"border:none; border-top:1px solid #E5E7EB; margin:28px 0;\">\n\n              <!-- UPSELL SOFT -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F9FAFB; border-radius:8px;\">\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <p style=\"margin:0 0 8px; font-size:13px; color:#6B7280;\">🚀 Tu veux aller plus loin ?</p>\n                    <p style=\"margin:0 0 8px; font-size:15px; font-weight:700; color:#111827;\">\n                      Système Freelance Complet — Notion + 7 Workflows n8n\n                    </p>\n                    <p style=\"margin:0 0 12px; font-size:13px; color:#6B7280; line-height:1.6;\">\n                      Prospects, clients, factures, relances, rapports — tout automatisé.\n                      Configure une fois, ça tourne pour toujours.\n                    </p>\n                    <p style=\"margin:0; font-size:14px; font-weight:700; color:#2563EB;\">\n                      Pack Standard 47€ &nbsp;|&nbsp; Pack Premium (+ IA Claude) 97€\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background:#F9FAFB; padding:20px 32px; border-top:1px solid #E5E7EB;\">\n              <p style=\"margin:0; font-size:12px; color:#9CA3AF; text-align:center;\">\n                Envoyé par <strong>Steve Teweuchi Sibicho</strong> · Entrepreneur IA & Automatisation<br>\n                Tu reçois cet email car tu as demandé ce guide sur Facebook.\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "senderName": "Steve — Entrepreneur IA",
          "senderEmail": "REMPLACE_PAR_TON_EMAIL_PRO"
        }
      },
      "id": "node-brevo-email",
      "name": "Envoyer Email Brevo",
      "type": "n8n-nodes-base.brevo",
      "typeVersion": 1,
      "position": [620, 300],
      "credentials": {
        "brevoApi": {
          "id": "brevo-credential",
          "name": "Brevo API"
        }
      },
      "notes": "IMPORTANT — 2 choses à remplacer avant d'activer :\n1. REMPLACE_PAR_TON_EMAIL_PRO → contact@sterveshop.cloud\n2. REMPLACE_PAR_TON_LIEN_PDF → URL publique de ton PDF (Google Drive, serveur, etc.)"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "REMPLACE_PAR_TON_DATABASE_ID_LEADS",
        "title": "={{ $json.prenom }} — {{ $json.email }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email.email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Prénom.rich_text",
              "textValue": "={{ $json.prenom }}"
            },
            {
              "key": "Source.select",
              "selectValue": "Facebook — Lead Magnet Brevo"
            },
            {
              "key": "Date.date",
              "dateValue": "={{ $json.timestamp }}"
            },
            {
              "key": "Statut.select",
              "selectValue": "Guide envoyé"
            }
          ]
        }
      },
      "id": "node-notion-lead",
      "name": "Sauvegarder Lead Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [840, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-credential",
          "name": "Notion API"
        }
      },
      "notes": "Sauvegarde chaque lead dans ta base Notion pour suivi.\nREMPLACE_PAR_TON_DATABASE_ID_LEADS → ID de ta BDD Notion Prospects/Leads.\nSi tu n'as pas encore de BDD leads, tu peux désactiver ce noeud pour l'instant."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Guide envoyé à {{ $('Extraire Prénom + Email').item.json.email }}\" }"
      },
      "id": "node-response",
      "name": "Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 300],
      "notes": "Renvoie une réponse 200 OK à Tally après traitement."
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [
        [
          {
            "node": "Extraire Prénom + Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Prénom + Email": {
      "main": [
        [
          {
            "node": "Envoyer Email Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email Brevo": {
      "main": [
        [
          {
            "node": "Sauvegarder Lead Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarder Lead Notion": {
      "main": [
        [
          {
            "node": "Réponse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateId": "leadmagnet-tally-brevo-v1",
    "description": "Workflow de livraison automatique du lead magnet. Tally soumet le formulaire → n8n extrait prénom+email → Brevo envoie le guide PDF → Notion sauvegarde le lead.",
    "author": "Steve Teweuchi Sibicho",
    "version": "1.0",
    "setupChecklist": [
      "1. Remplacer REMPLACE_PAR_TON_EMAIL_PRO par contact@sterveshop.cloud dans le noeud Brevo",
      "2. Uploader le PDF guide sur Google Drive (ou ton serveur) et copier le lien public",
      "3. Remplacer REMPLACE_PAR_TON_LIEN_PDF par ce lien dans le noeud Brevo",
      "4. Remplacer REMPLACE_PAR_TON_DATABASE_ID_LEADS par l'ID de ta BDD Notion Prospects",
      "5. Configurer le credential Brevo API dans n8n (Credentials > Brevo)",
      "6. Activer le workflow (toggle en haut à droite)",
      "7. Coller l'URL webhook dans Tally : https://automation.sterveshop.cloud/webhook/lead-magnet-brevo",
      "8. Faire un test end-to-end depuis le formulaire Tally"
    ]
  }
}
