workflows/chariow-leadmagnet-tally-brevo.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet-brevo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d8081fb4-28a7-461e-a505-6a142b1a4065",
      "name": "Tally Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1728, -96],
      "webhookId": "lead-magnet-brevo",
      "notes": "URL du webhook à coller dans Tally : https://automation.sterveshop.cloud/webhook/lead-magnet-brevo"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst fields = body?.data?.fields || [];\n\nlet prenom = '';\nlet email = '';\n\nfor (const field of fields) {\n  const label = (field.label || '').toLowerCase().trim();\n  const value = field.value || '';\n\n  if (label.includes('prenom') || label.includes('prénom') || label.includes('nom') || label.includes('name')) {\n    prenom = value.trim();\n  }\n  if (label.includes('mail') || label.includes('email') || field.type === 'INPUT_EMAIL') {\n    email = value.trim().toLowerCase();\n  }\n}\n\nif (!prenom && fields[0]) prenom = fields[0].value || 'Ami';\nif (!email && fields[1]) email = fields[1].value || '';\n\nif (!email) {\n  throw new Error('Email non trouvé dans la soumission Tally');\n}\n\nconst prenomFormate = prenom\n  ? prenom.charAt(0).toUpperCase() + prenom.slice(1).toLowerCase()\n  : 'Ami';\n\nreturn [{\n  json: {\n    prenom: prenomFormate,\n    email: email,\n    source: 'tally-lead-magnet',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "253b8b1a-df49-415f-a537-bcb2f098cb5b",
      "name": "Extraire Prénom + Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1952, -96]
    },
    {
      "parameters": {
        "fromEmail": "contact@sterveshop.cloud",
        "toEmail": "={{ $json.email }}",
        "subject": "=🎁 Ton guide gratuit est là — {{ $json.prenom }} !",
        "emailFormat": "html",
        "html": "=<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background:#F3F4F6;font-family:Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F3F4F6;padding:32px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;max-width:600px;width:100%;\"><tr><td style=\"background:#2563EB;padding:28px 32px;\"><p style=\"margin:0;font-size:13px;color:#93C5FD;font-weight:600;letter-spacing:1px;\">RESSOURCE GRATUITE</p><h1 style=\"margin:8px 0 0;font-size:24px;color:#ffffff;font-weight:700;line-height:1.3;\">Ton guide arrive, {{ $json.prenom }} ! 🎉</h1></td></tr><tr><td style=\"padding:32px;\"><p style=\"margin:0 0 16px;font-size:15px;color:#374151;line-height:1.7;\">Merci d'avoir rejoint la communauté. Voici exactement ce que tu m'as demandé :</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EFF6FF;border-left:4px solid #2563EB;border-radius:8px;margin:0 0 24px;\"><tr><td style=\"padding:20px 24px;\"><p style=\"margin:0 0 8px;font-size:13px;color:#6B7280;\">📦 Ce que tu reçois</p><p style=\"margin:0 0 4px;font-size:15px;font-weight:700;color:#1E40AF;\">Guide PDF — Automatiser ses relances avec Brevo</p><p style=\"margin:0;font-size:13px;color:#6B7280;\">+ Workflow n8n prêt à importer (JSON inclus)</p></td></tr></table><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px;\"><tr><td align=\"center\"><a href=\"https://drive.google.com/file/d/14RyHMRihF5i6ngu-Yk3XNDVntRAIaiSm/view?usp=sharing\" style=\"display:inline-block;background:#2563EB;color:#ffffff;font-size:16px;font-weight:700;padding:16px 36px;border-radius:8px;text-decoration:none;\">📥 Télécharger le guide PDF</a><p style=\"margin:8px 0 0;font-size:12px;color:#9CA3AF;\">Guide PDF gratuit ✅</p></td></tr><tr><td align=\"center\" style=\"padding-top:12px;\"><a href=\"https://drive.google.com/file/d/165B99NA2YHyeMvt_sHEaNF_VoOpxIF7a/view?usp=sharing\" style=\"display:inline-block;background:#10B981;color:#ffffff;font-size:15px;font-weight:700;padding:14px 32px;border-radius:8px;text-decoration:none;\">⚡ Télécharger le workflow n8n (JSON)</a><p style=\"margin:8px 0 0;font-size:12px;color:#9CA3AF;\">Importe-le directement dans n8n ✅</p></td></tr></table><p style=\"margin:0 0 12px;font-size:14px;font-weight:700;color:#111827;\">Dans ce guide tu trouveras :</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"padding:6px 0;font-size:14px;color:#374151;\">✅  Pourquoi Gmail va te bloquer (et comment l'éviter)</td></tr><tr><td style=\"padding:6px 0;font-size:14px;color:#374151;\">✅  Créer ton email pro en 10 minutes sur Hostinger</td></tr><tr><td style=\"padding:6px 0;font-size:14px;color:#374151;\">✅  Connecter Brevo à n8n étape par étape</td></tr><tr><td style=\"padding:6px 0;font-size:14px;color:#374151;\">✅  Workflow de relance J+7 et J+14 prêt à l'emploi</td></tr><tr><td style=\"padding:6px 0;font-size:14px;color:#374151;\">✅  Templates d'emails de relance inclus</td></tr></table><hr style=\"border:none;border-top:1px solid #E5E7EB;margin:28px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F9FAFB;border-radius:8px;\"><tr><td style=\"padding:20px 24px;\"><p style=\"margin:0 0 8px;font-size:13px;color:#6B7280;\">🚀 Tu veux aller plus loin ?</p><p style=\"margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;\">Système Freelance Complet — Notion + 7 Workflows n8n</p><p style=\"margin:0 0 12px;font-size:13px;color:#6B7280;line-height:1.6;\">Prospects, clients, factures, relances, rapports — tout automatisé.</p><p style=\"margin:0;font-size:14px;font-weight:700;color:#2563EB;\">Pack Standard 47€ | Pack Premium (+ IA Claude) 97€</p></td></tr></table></td></tr><tr><td style=\"background:#F9FAFB;padding:20px 32px;border-top:1px solid #E5E7EB;\"><p style=\"margin:0;font-size:12px;color:#9CA3AF;text-align:center;\">Envoyé par <strong>Steve Teweuchi Sibicho</strong> · Entrepreneur IA &amp; Automatisation<br>Tu reçois cet email car tu as demandé ce guide sur Facebook.</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2192, -96],
      "id": "ffb60358-d0d3-4fdb-9c60-61e0990bc170",
      "name": "Envoyer Email Brevo",
      "credentials": {
        "smtp": {
          "id": "XEa3IB9YS9qcaD7V",
          "name": "Brevo SMTP"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000001",
              "name": "prenom",
              "value": "={{ $('Extraire Prénom + Email').item.json.prenom }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000002",
              "name": "email",
              "value": "={{ $('Extraire Prénom + Email').item.json.email }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000003",
              "name": "timestamp",
              "value": "={{ $('Extraire Prénom + Email').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "e9f1a2b3-c4d5-6789-abcd-ef0123456789",
      "name": "Reconstruire données lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2416, -96],
      "notes": "Nécessaire car emailSend écrase le contexte JSON avec les données SMTP. Ce nœud récupère prenom/email/timestamp depuis le nœud d'extraction."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "a0474476437b4f868fc6195065fe7227",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "title": "={{ $json.prenom }} — {{ $json.email }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Prénom|rich_text",
              "textValue": "={{ $json.prenom }}"
            },
            {
              "key": "Source|select",
              "selectValue": "Facebook — Lead Magnet Brevo"
            },
            {
              "key": "Date|date",
              "dateValue": "={{ $json.timestamp }}"
            },
            {
              "key": "Statut|select",
              "selectValue": "Guide envoyé"
            }
          ]
        },
        "options": {}
      },
      "id": "b8517c5b-0f61-4147-b76b-9f9ff1a737d4",
      "name": "Sauvegarder Lead Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2640, -96],
      "credentials": {
        "notionApi": {
          "id": "V6ZMCVTvDa6C7E0v",
          "name": "Notion account 2"
        }
      },
      "notes": "Database Notion Leads — ID : a0474476437b4f868fc6195065fe7227"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Guide envoyé à {{ $('Extraire Prénom + Email').item.json.email }}\" }",
        "options": {}
      },
      "id": "f34def6a-81f8-431f-a60b-c4a99fd7afed",
      "name": "Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2880, -96]
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [[{"node": "Extraire Prénom + Email", "type": "main", "index": 0}]]
    },
    "Extraire Prénom + Email": {
      "main": [[{"node": "Envoyer Email Brevo", "type": "main", "index": 0}]]
    },
    "Envoyer Email Brevo": {
      "main": [[{"node": "Reconstruire données lead", "type": "main", "index": 0}]]
    },
    "Reconstruire données lead": {
      "main": [[{"node": "Sauvegarder Lead Notion", "type": "main", "index": 0}]]
    },
    "Sauvegarder Lead Notion": {
      "main": [[{"node": "Réponse Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09a4271ff440e2d4ed1d23d70521c8ceadc5f0cf389b7a9fad7d7fcb78f3bb2c"
  }
}
